#nav-bar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 32px;
  z-index: 20;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin: 10px
}

#nav-bar .header {
  line-height: 2;
  font-size: 2em ;
  float: left;
}

