main {
  width: 450px;
  margin: 140px auto 0 auto;
  background-color: white;
  padding: 30px 30px;
  /*margin-top: 50px;*/
}

main h2 {
  border-bottom: solid;
  border-width: 100%;
}

main section.new-tweet {
  border: 2px solid grey;
  border-radius: 6px;
  padding: 10px 10px;
  margin: 2em 0;
  background-color: lightgrey;
}

main textarea {
  width: 100%;
  padding: 2px 0 0 2px;
}

main span.counter {
  float: right;
}
